//
// Pages
//
// Styles specific to individual pages.
//
.padding20 {
    color: blue;
    margin-top: 70px;
    padding: 50px 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.blocVideo img {
    vertical-align: 50%;
    margin: 4px 10px;
}