description = "Pied de page"
==
<hr/>
<div id="footer">
    <div class="container" style="text-align : center">
        <p class="muted credit">&copy; <b>Groupe COTE</b> - {{ "now"|date("Y") }} LC. - 2, allée des Roses - F <b>59</b> 410 <b>ANZIN</b></p>
        <p><b>COTE</b> - R.C.S. 378 333413 Valenciennes - N.A.F. 4791 A - T.V.A. Intra-Comm. FR50 378333413</p>
        <p><b>B</b>ureau d'<b>É</b>tudes & d'<b>A</b>ffaires <b>Gr</b>oupe <b>COTE7</b>- 31/00 - 0570167 | 06 - DZ ORAN
            - APE 607006 &
            612205</p>
    </div>
</div>