body {
    padding-top: 500px; /*50*/
}

#layout-header .navbar-brand {
    padding-left: 70px;
    background-image: url('../images/logo_1050x93_c7.png'); /*150x93*/
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: 0 50%
}

.noDeco {
    /*text-decoration: none;*/
    color: red;
    font-size: 50px;
}